.body-left-stage4 {

}
.body-left-stage4-wrapper {
  
}
.body-left-stage4 > h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: var(--secondary-gap) 0;
}
.body-left-stage4 > h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: var(--secondary-gap) 0;
}
